.card-request-page {
  background-color: #0d1117;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.card-request-page .div-6 {
  background-color: #0d1117;
  height: 904px;
  overflow-x: hidden;
  position: relative;
  width: 1440px;
}

.card-request-page .frame-91 {
  height: 74px;
  left: -1px;
  position: absolute;
  top: 0;
  width: 1434px;
}

.card-request-page .frame-92 {
  background-color: #161b22;
  height: 84px;
  position: relative;
}

.card-request-page .overlap-group-17 {
  height: 57px;
  left: 26px;
  position: absolute;
  top: 17px;
  width: 1262px;
}

.card-request-page .frame-93 {
  height: 46px;
  left: 20px;
  position: absolute;
  top: 11px;
  width: 1242px;
}

.card-request-page .auto-layout-32 {
  align-items: flex-start;
  background-color: #0d1117;
  border: 1px solid;
  border-color: #8b949e;
  border-radius: 6px;
  display: flex;
  gap: 171px;
  height: 46px;
  left: 799px;
  padding: 4px 5px 4px 13px;
  position: absolute;
  top: 0;
  width: 295px;
}

.card-request-page .search-3 {
  background-color: transparent;
  border: 0;
  color: #c9d1d9;
  font-family: "Noto Sans", Helvetica;
  font-size: 14px;
  font-weight: 600;
  height: 36px;
  letter-spacing: 0;
  line-height: 20px;
  margin-top: -1px;
  padding: 0;
  position: relative;
  width: 57px;
}

.card-request-page .frame-94 {
  height: 30px;
  position: relative;
  width: 49px;
}

.card-request-page .auto-layout-33 {
  height: 37px;
  left: 1197px;
  position: absolute;
  top: 0;
  width: 86px;
}

.card-request-page .frame-95 {
  height: 31px;
  left: 1162px;
  position: absolute;
  top: 15px;
  width: 35px;
}

.card-request-page .image-6 {
  display: block;
  height: 50px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 143px;
}

.card-request-page .frame-96 {
  display: block;
  height: 63px;
  left: 1355px;
  position: absolute;
  top: 16px;
  width: 65px;
}

.card-request-page .frame-97 {
  height: 329px;
  left: 45px;
  position: absolute;
  top: 145px;
  width: 287px;
}

.card-request-page .frame-98 {
  background-color: #b1bac414;
  border-radius: 6px;
  height: 32px;
  left: 0;
  position: absolute;
  top: 32px;
  width: 280px;
}

.card-request-page .rectangle-10 {
  background-color: #800000;
  border-radius: 6px;
  height: 24px;
  left: -8px;
  position: absolute;
  top: 4px;
  width: 4px;
}

.card-request-page .text-wrapper-42 {
  color: #c9d1d9;
  font-family: "Noto Sans", Helvetica;
  font-size: 16px;
  font-weight: 600;
  height: 18px;
  left: 32px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 5px;
  white-space: nowrap;
  width: 113px;
}

.card-request-page .frame-99 {
  height: 16px;
  left: 10px;
  position: absolute;
  top: 8px;
  width: 16px;
}

.card-request-page .frame-100 {
  background-color: #b1bac414;
  border-radius: 6px;
  height: 32px;
  left: 3px;
  position: absolute;
  top: 202px;
  width: 280px;
}

.card-request-page .frame-101 {
  border-radius: 6px;
  display: block;
  height: 32px;
  left: 3px;
  position: absolute;
  top: 69px;
  width: 280px;
}

.card-request-page .frame-102 {
  height: 16px;
  left: 8px;
  position: absolute;
  top: 8px;
  width: 16px;
}

.card-request-page .auto-layout-34 {
  align-items: flex-start;
  background-color: #6e768166;
  border-radius: 24px;
  display: inline-flex;
  left: 251px;
  padding: 1px 6.67px 1px 7px;
  position: absolute;
  top: 6px;
}

.card-request-page .text-wrapper-43 {
  color: #c9d1d9;
  font-family: "Noto Sans", Helvetica;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 18px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.card-request-page .text-wrapper-44 {
  color: #c9d1d9;
  font-family: "Noto Sans", Helvetica;
  font-size: 14px;
  font-weight: 400;
  height: 18px;
  left: 32px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 5px;
  white-space: nowrap;
  width: 130px;
}

.card-request-page .frame-103 {
  border-radius: 6px;
  height: 32px;
  left: 3px;
  position: absolute;
  top: 106px;
  width: 280px;
}

.card-request-page .frame-104 {
  border-radius: 6px;
  height: 32px;
  left: 3px;
  position: absolute;
  top: 158px;
  width: 280px;
}

.card-request-page .overlap-group-18 {
  border-radius: 6px;
  height: 32px;
  position: relative;
}

.card-request-page .frame-105 {
  background-color: #b1bac414;
  border-radius: 6px;
  height: 32px;
  left: 0;
  position: absolute;
  top: 0;
  width: 280px;
}

.card-request-page .rectangle-11 {
  background-color: #800000;
  border-radius: 6px;
  height: 24px;
  left: -8px;
  position: relative;
  top: 4px;
  width: 4px;
}

.card-request-page .auto-layout-35 {
  align-items: flex-start;
  background-color: #0d1117;
  border: 1px solid;
  border-color: #30363d;
  border-radius: 6px;
  display: flex;
  gap: 205px;
  height: 28px;
  left: -5px;
  padding: 4px 5px 4px 13px;
  position: absolute;
  top: -14px;
  width: 288px;
}

.card-request-page .text-wrapper-45 {
  color: #ffffff;
  font-family: "Noto Sans", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 20px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.card-request-page .frame-106 {
  height: 20px;
  position: relative;
  width: 18.08px;
}

.card-request-page .frame-107 {
  height: 721px;
  left: 387px;
  position: absolute;
  top: 79px;
  width: 1017px;
}

.card-request-page .text-wrapper-46 {
  color: #6e7681;
  font-family: "Noto Sans", Helvetica;
  font-size: 24px;
  font-weight: 300;
  height: 19px;
  left: 172px;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  top: 122px;
  white-space: nowrap;
  width: 622px;
}

.card-request-page .text-wrapper-47 {
  color: #c9d1d9;
  font-family: "Noto Sans", Helvetica;
  font-size: 36px;
  font-weight: 600;
  height: 56px;
  left: 172px;
  letter-spacing: 0;
  line-height: 48px;
  position: absolute;
  top: 66px;
  white-space: nowrap;
  width: 463px;
}

.card-request-page .form-box-instance {
  left: 166px !important;
  position: absolute !important;
  top: 248px !important;
}

.card-request-page .design-component-instance-node {
  left: 166px !important;
  position: absolute !important;
  top: 346px !important;
}

.card-request-page .frame-108 {
  left: 165px !important;
  position: absolute !important;
  top: 444px !important;
}

.card-request-page .frame-109 {
  left: 165px !important;
  position: absolute !important;
  top: 542px !important;
}

.card-request-page .red-button-2 {
  align-self: stretch !important;
  flex: 1 !important;
  height: unset !important;
  white-space: unset !important;
  width: unset !important;
}

.card-request-page .red-button-3 {
  height: 37px !important;
  left: 402px !important;
  position: absolute !important;
  top: 628px !important;
  width: 116px !important;
}

.card-request-page .frame-110 {
  border-color: #21262d;
  border-top-style: solid;
  border-top-width: 1px;
  height: 66px;
  left: 107px;
  position: absolute;
  top: 800px;
  width: 1227px;
}

.card-request-page .frame-111 {
  height: 25px;
  position: relative;
  top: 41px;
  width: 137px;
}

.card-request-page .overlap-group-19 {
  height: 18px;
  left: 32px;
  position: absolute;
  top: 2px;
  width: 110px;
}

.card-request-page .element-taglio-LLC-5 {
  color: #8b949e;
  font-family: "Noto Sans", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 18px;
  left: 0;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.card-request-page .text-wrapper-48 {
  color: #8b949e;
  display: block;
  font-family: "Noto Sans", Helvetica;
  font-size: 24px;
  font-weight: 400;
  height: 39px;
  left: 1168px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: -9px;
  width: 118px;
}
